includes:
    - extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/data/*
    ignoreErrors:
        -
            identifier: phpstanApi.classConstant
            path: tests/BaseAttributeTestCase.php
        -
            identifier: phpstanApi.method
            path: tests/BaseAttributeTestCase.php
